<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiongmengyingshi.v17.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.xiongmengyingshi.v17.entity.Admin">
    <id column="admin_id" jdbcType="BIGINT" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
    <result column="password_salt" jdbcType="CHAR" property="passwordSalt" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIP" />
  </resultMap>
  <sql id="Base_Column_List">
    admin_id, admin_name, admin_password, password_salt, login_time, login_ip
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v17_admin
    where admin_id = #{adminId,jdbcType=BIGINT}
  </select>
  <select id="selectByAdminName" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from v17_admin
    where admin_name = #{adminName,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from v17_admin
    where admin_id = #{adminId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiongmengyingshi.v17.entity.Admin">
    insert into v17_admin (admin_name, admin_password,
      password_salt, login_time, login_ip
    )
    values (#{adminName,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR},
      #{passwordSalt,jdbcType=CHAR}, #{loginTime,jdbcType=TIMESTAMP}, #{loginIP,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiongmengyingshi.v17.entity.Admin">
    insert into v17_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="adminPassword != null">
        admin_password,
      </if>
      <if test="passwordSalt != null">
        password_salt,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="loginIP != null">
        login_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=BIGINT},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="passwordSalt != null">
        #{passwordSalt,jdbcType=CHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIP != null">
        #{loginIP,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiongmengyingshi.v17.entity.Admin">
    update v17_admin
    <set>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        admin_password = #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="passwordSalt != null">
        password_salt = #{passwordSalt,jdbcType=CHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginIP != null">
        login_ip = #{loginIP,jdbcType=VARCHAR},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiongmengyingshi.v17.entity.Admin">
    update v17_admin
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_password = #{adminPassword,jdbcType=VARCHAR},
      password_salt = #{passwordSalt,jdbcType=CHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      login_ip = #{loginIP,jdbcType=VARCHAR}
    where admin_id = #{adminId,jdbcType=BIGINT}
  </update>
</mapper>