<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiongmengyingshi.v17.dao.VerificationCodeMapper">
  <resultMap id="BaseResultMap" type="com.xiongmengyingshi.v17.entity.VerificationCode">
    <id column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="verification_code" jdbcType="CHAR" property="verificationCode" />
  </resultMap>
  <sql id="Base_Column_List">
    phone_num, verification_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v17_verification_code
    where phone_num = #{phoneNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from v17_verification_code
    where phone_num = #{phoneNum,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiongmengyingshi.v17.entity.VerificationCode">
    insert into v17_verification_code (phone_num, verification_code)
    values (#{phoneNum,jdbcType=VARCHAR}, #{verificationCode,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiongmengyingshi.v17.entity.VerificationCode">
    insert into v17_verification_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phoneNum != null">
        phone_num,
      </if>
      <if test="verificationCode != null">
        verification_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phoneNum != null">
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="verificationCode != null">
        #{verificationCode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiongmengyingshi.v17.entity.VerificationCode">
    update v17_verification_code
    <set>
      <if test="verificationCode != null">
        verification_code = #{verificationCode,jdbcType=CHAR},
      </if>
    </set>
    where phone_num = #{phoneNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiongmengyingshi.v17.entity.VerificationCode">
    update v17_verification_code
    set verification_code = #{verificationCode,jdbcType=CHAR}
    where phone_num = #{phoneNum,jdbcType=VARCHAR}
  </update>
</mapper>